*{
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    padding: 2em;
}

.container{
    color: #fff;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #333;
}

.main-content{
    flex: 1;
    border-radius: 1em;
    background-color: #444;
}

.secondly-content{
    flex: 0 1;
    margin-top: 1em;
}
.secondly-content.floated{
    margin-top: 0;
}

.secondly-content.floated .float-box{
    background-color: rgba(119, 119, 119, .5);
}

.secondly-content.floated .float-box:hover{
    background-color: #777;
}

.float-box{
    resize: both;
    overflow: hidden;
    padding: 1em;
    padding-top: 3em;
    position: relative;
    border-radius: 1em;
    background-color: #777;
}

.float-box::before{
    content: "";
    width: 1px;
    height: 1px;
    top: 1em;
    left: 1em;
    display: flex;
    position: absolute;
    background-color: currentColor;
    box-shadow: 3px 0 currentColor, 6px 0 currentColor, 9px 0 currentColor,
        0 3px currentColor, 3px 3px currentColor, 6px 3px currentColor, 9px 3px currentColor,
        0 6px currentColor, 3px 6px currentColor, 6px 6px currentColor, 9px 6px currentColor,
        0 9px currentColor, 3px 9px currentColor, 6px 9px currentColor, 9px 9px currentColor;
}

.float-box button{
    top: 1em;
    right: 1em;
    position: absolute;
}

.float-box .box-content{
    height: 100%;
    overflow: auto;
}

.float-box .box-content p{
    margin-bottom: 1em;
}

.float-box .box-content p:last-child{
    margin-bottom: 0;
}

.float-box .resize-control{
    width: 1em;
    height: 1em;
    right: 0;
    bottom: 0;
    position: absolute;
}
